@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
.main{
    margin: auto;
    width: 620px;
    height: 620px;
    text-align: center;
}

h1{
    font-family: 'Montserrat', sans-serif;
    color: #00FF84;

}

body{
     background: #007BFF;
     background-size: auto;
     background-attachment: fixed;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 610px;
    height: 610px;
}

.grid > div{
    width: 200px;
    height: 200px;
   margin-bottom: 5px;
   background-color: #00FBFF;
   border-radius: 10px;
   
}

.scoreboard{
}

.scoreboard  div{
   
    display: inline-bloc;
}

.playerX{
    background-image: url('theX.png');


}

.playerO{
    background-image: url('theO.png');

}

h3{
    display: inline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}