.main{
    margin: auto;
    width: 620px;
    height: 620px;
    text-align: center;
}

h1{
    font-family: 'Concert One', cursive;
    color: rgb(104, 67, 67);
}

body{
     background: linear-gradient(35deg, rgb(39, 153, 153), rgb(197, 146, 146));
     background-size: auto;
     background-attachment: fixed;
}

.grid{
    place-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 610px;
    height: 610px;
}

.grid div{
    width: 200px;
    height: 200px;
   margin-bottom: 5px;
   background-color: rgb(212, 218, 188);
  
   
}

.playerX{
    background-image: url('theX.png');


}

.playerO{
    background-image: url('theO.png');

}

h3{
    display: inline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}