@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');
body{
    background-color: #DCDCF5;
}

.main{
    width: 400px;
    margin: 0 auto;
    background-color: #f5f5dc;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}


    


h4{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 10px;
    
}

h5{
    font-family: 'Padauk', sans-serif;
    text-align: center;
    font-size: 17px;
    opacity: 0.5;

}

input{
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border-style: none;
    border: 1px solid rgba(180, 180, 234, 0.164);
    background-color: #EAEAB4;
    font-size: 12px;
    font-weight: 600; 
}

.messages{
    font-family: 'Montserrat', sans-serif;
}

.message-item span{
    display: inline-block;
    padding:10px;
    background-color: #EAEAB4;
    border-radius: 10px;
}

.submit{
    padding: 7px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: white;
    background-color: #EAB4EA;
    border-style: none;
}