h1{
    font-family: monospace;
}

.container{
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 10px;
    color: white;
    font-family: monospace;
    font-size: 16px;
    font-weight: bold;
}
.colour{
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.complement{
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

button{
    border-style: none;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 5px;
}